.app-info-section {
  padding: 0px 80px;
  padding-bottom: 150px;
}

.app-info-section .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.app-info-section .card .info .tags-container {
  margin-top: 20px;
  justify-content: space-between;
}

.app-info-section .card .info h5 {
  font-size: 36px;
  font-weight: bold;
}

.app-info-section .card .info p {
  color: #404040;
  font-size: 24px;
}

.app-info-section .card .info .tags-container button {
  padding: 10px 20px;
  border-radius: 33px;
  margin-right: 20px;
  border: none;
  background: linear-gradient(
    94.22deg,
    rgba(0, 120, 255, 0.1) 0%,
    rgba(0, 236, 194, 0.1) 100%
  );
}

.app-info-section .card .info .tags-container button span {
  background: linear-gradient(to right, #0078ff 0%, #00ecc2 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
}

.app-info-section .card .info .quote {
  margin-top: 20px;
  color: #404040;
  font-size: 18px;
}

.app-info-section .card .info .profile {
  margin-top: 20px;
  display: flex;
}

.app-info-section .card .info .profile-image {
  background-image: url("https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-info-section .card .info .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.app-info-section .card .info .profile-info span:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
}

.app-info-section .card .info .profile-info span:nth-child(2) {
  font-weight: 300;
  font-size: 14px;
  color: #404040;
}

/* show case */
.app-info-section .show-case {
  width: 45%;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
}

.app-info-section .show-case .box {
  position: absolute;
  width: 100%;
  height: 550px;
  background: linear-gradient(113.6deg, #0078ff 0%, #00ecc2 100%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
  top: -20px;
  left: -20px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}


/* First card */
.app-info-section .card .info .tags-container1 button {
  background: linear-gradient(
    94.22deg,
    rgba(0, 236, 194, 0.1) 0%,
    rgba(255, 215, 95, 0.1) 100%
  );
}

.app-info-section .card .info .tags-container1 button span {
  background: linear-gradient(to right, #00ecc2 0%, #ffd75f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-info-section .card .show-case .box2 {
  background: linear-gradient(113.6deg, #00ecc2 0%, #ffd75f 100%);
}


/* second card */
.app-info-section .card .info .tags-container2 button {
  background: linear-gradient(
    94.22deg,
    rgba(255, 138, 37, 0.1) 0%,
    rgba(255, 215, 95, 0.1) 100%
  );
}

.app-info-section .card .info .tags-container2 button span {
  background: linear-gradient(to right, #FF8A25 0%, #FFD75F 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-info-section .card .show-case .box3 {
    background: linear-gradient(113.6deg, #FF8A25 0%, #FFD75F 100%);
}

/* Third Card */ 
.app-info-section .card .info .tags-container3 button {
    background: linear-gradient(94.22deg, rgba(255, 67, 89, 0.1) 0%, rgba(255, 138, 37, 0.1) 100%);
  }
  
  .app-info-section .card .info .tags-container3 button span {
    background: linear-gradient(to right, #FF4359 0%, #FF8A25 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .app-info-section .card .show-case .box4 {
    background: linear-gradient(113.6deg, #FF4359 0%, #FF8A25 100%);
  }

  /* Fourth Card */ 
  .app-info-section .card .info .tags-container4 button {
    background: linear-gradient(94.22deg, rgba(255, 67, 89, 0.1) 0%, rgba(0, 120, 255, 0.1) 100%);
  }
  
  .app-info-section .card .info .tags-container4 button span {
    background: linear-gradient(to right, #FF4359 0%, #0078FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .app-info-section .card .show-case .box5 {
    background: linear-gradient(113.6deg, #FF4359 0%, #0078FF 100%)
  }

