.apps-card-block {
  padding: 100px 0px;
  padding-left: 60px;
}

.apps-card-block h1 {
  font-weight: bold;
  font-size: 48px;
}

.apps-card-block p {
  font-weight: 300;
  font-size: 18px;
  color: #404040;
}

.apps-card-block .email-container {
  margin-top: 40px;
}

.apps-card-block .email-container input {
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
}

.apps-card-block .email-container button {
  border: none;
  width: 200px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  margin-left: 10px;
  color: #fff;
}

.apps-card-block .slider {
  margin-top: 75px;
  overflow: scroll;
  display: flex;
}

.apps-card-block .slider .card {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  margin-right: 30px;
}

.apps-card-block .slider .card .box {
  width: 200px;
  height: 113.33px;
  background: #4267b2;
  border-radius: 10px;
}

.apps-card-block .slider .card span:nth-child(2) {
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.apps-card-block .slider .card span:nth-child(3) {
  font-size: 14px;
  color: #404040;
}

.apps-card-block .slider .card .box1 {
    background: #0078FF;
  }

  .apps-card-block .slider .card .box2 {
    background: #00ECC2
  }

  .apps-card-block .slider .card .box3 {
    background: #FF8A25
  }

  .apps-card-block .slider .card .box4 {
    background: #FFD75F
  }

  .apps-card-block .slider .card .box5 {
    background: #D943FF;
  }