header .heading-section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header .heading-section h1 {
  font-weight: bold;
  font-size: 72px;
  width: 70%;
}

header .heading-section p {
  width: 68%;
  font-size: 20px;
  color: #404040;
}

header .heading-section div {
  margin-top: 30px;
}

header .heading-section input {
  width: 293px;
  height: 39px;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 10px;
  font-size: 14px;
}

header .heading-section button {
  padding: 9px;
  width: 200px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  margin: 0px 10px;
  border: none;
  color: #fff;
  font-size: 14px;
}

header .heading-section span {
  font-size: 14px;
  color: #808080;
  font-weight: 300;
  margin-top: 20px;
}

/* banner-section */

header .banner-section {
  margin-top: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .banner-section .banner {
  margin-top: 30px;
  height: 75vh;
  width: auto;
}

header .banner-section .img1 {
  position: absolute;
  height: 15vh;
  width: auto;
  right: 5%;
  top: 0px;
}

header .banner-section .img2 {
  height: 15vh;
  width: auto;
  position: absolute;
  right: 8%;
  top: 45vh;
}

header .banner-section .img3 {
  height: 15vh;
  width: auto;
  position: absolute;
  top: 20vh;
  left: 5%;
}

header .banner-section .img4 {
  height: 15vh;
  width: auto;
  position: absolute;
  bottom: -5vh;
  left: 8%;
}