.creator-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.creator-section .brands {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.creator-section .brands h5 {
  font-weight: 600;
  font-size: 24px;
}

.creator-section .brands span {
  color: #c4c4c4;
  font-size: 36px;
  font-weight: bold;
  margin: 0px 10px;
}

/* info container */

.creator-section .info-container {
  margin-top: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator-section .info-container img {
  height: 280px;
  border-radius: 5px;
  width: auto;
  position: absolute;
  left: 15%;
  z-index: 2;
}

.creator-section .info-container .info {
  position: absolute;
  background: rgba(248, 248, 249, 0.5);
  height: 400px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
  border-radius: 5px;
  right: 15%;
}

.creator-section .info-container .info span {
  margin-left: 30%;
}

.creator-section .info-container .info p {
  width: 65%;
  margin-left: 30%;
  font-weight: 500;
  font-size: 18px;
}

.creator-section .info-container .info .name {
  margin-top: 10px;
  font-size: 14px;
}

.creator-section .info-container .info .designation {
  font-size: 14px;
  color: #26272d;
}

/* button-container */

.creator-section .button-container {
  margin: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator-section .button-container button {
  background-color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px;
  padding: 5px 20px;
}

.creator-section .button-container button:nth-child(1) {
  border: 2px solid #ff4359;
  border-radius: 5px;
}
