.creator-spotlight {
  padding: 80px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creator-spotlight h1 {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}

.creator-spotlight p {
  font-weight: 300;
  font-size: 18px;
  color: #404040;
}

.creator-spotlight .email-container {
  margin-top: 40px;
}

.creator-spotlight .email-container input {
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
}

.creator-spotlight .email-container button {
  border: none;
  margin-left: 10px;
  width: 162px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.creator-spotlight .quote {
  margin-top: 35px;
}

.creator-spotlight .creator-info {
  display: flex;
}

.creator-spotlight .creator-info div {
  font-weight: 600;
  font-size: 24px;
}

.creator-spotlight .creator-info span {
  font-size: 24px;
  line-height: 36px;
  margin-left: 5px;
}

.profile-container {
    display: flex;
    position: relative;
    width: 405px;
    height: 423px;
}

.creator-spotlight .profile-image {
  width: 345px;
  height: 423px;
}

.creator-spotlight .profile-container .arrow {
    position: absolute;
    bottom: 40px;
    right: 0px;
}

