.features {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 46px;
  color: #101010;
}

.features .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 0px 50px;
}

.features .grid .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.features .grid span {
    font-weight: 600;
    font-size: 30px;
}

.features .grid .card h3 {
  font-weight: 600;
  font-size: 24px;
}

.features .grid .card p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
