footer {
  padding: 80px;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
}

footer .footer-top .part1 .title {
  display: flex;
  align-items: center;
}

footer .footer-top .part1 .title span {
  margin-left: 10px;
  font-weight: 600;
  font-size: 24px;
}

footer .footer-top .part1 p {
  font-size: 18px;
  color: #404040;
  margin-top: 25px;
}

footer .footer-top .part1 .social-media {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

footer .footer-top .part1 .social-media img {
  margin-right: 30px;
}

footer .footer-top .part2 {
  display: flex;
  flex-direction: column;
}

footer .footer-top .part2 span:nth-child(1) {
  font-weight: 500;
}

footer .footer-top .part2 span {
  margin-bottom: 10px;
  font-size: 18px;
}

footer .footer-top .part3 {
  display: flex;
  flex-direction: column;
}

footer .footer-top .part3 span:nth-child(1) {
  font-weight: 500;
}

footer .footer-top .part3 span {
  margin-bottom: 10px;
  font-size: 18px;
}

footer .footer-top .part4 {
  display: flex;
  flex-direction: column;
}

footer .footer-top .part4 span:nth-child(1) {
  font-weight: 500;
}

footer .footer-top .part4 span {
  margin-bottom: 10px;
  font-size: 18px;
}

footer .footer-bottom .border {
  margin-top: 70px;
  border: 1px solid rgba(64, 64, 64, 0.1);
}

footer .footer-bottom .terms-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

footer .footer-bottom .terms-wrapper span {
  margin-right: 20px;
  color: #404040;
  font-size: 14px;
}
