.pills-container {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
}

.pills-container h1 {
  align-self: center;
  font-weight: bold;
  font-size: 48px;
}

.pills-container p {
  font-size: 18px;
  color: #404040;
  align-self: center;
}

.pills-container .card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.pills-container .card-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: linear-gradient(135deg, #ff4359 0%, rgba(255, 67, 89, 0.75) 100%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}

.pills-container .card-container .box1 {
  background: linear-gradient(135deg, #0078ff 0%, rgba(0, 120, 255, 0.75) 100%);
}
