.transperency-section {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transperency-section h1 {
  font-weight: bold;
  font-size: 48px;
}

.transperency-section p {
  color: #404040;
  font-size: 18px;
  font-weight: 300;
}

.transperency-section .email-container {
  margin-top: 25px;
}

.transperency-section .email-container input {
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
}

.transperency-section .email-container button {
  margin-left: 10px;
  width: 200px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.transperency-section .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 150px;
  row-gap: 50px;
  margin-top: 70px;
}

.transperency-section .card-container .card {
  position: relative;
  width: 427px;
  height: 194px;
  background-color: #fff;
  border-radius: 10px;
}

.transperency-section .card-container .card .box {
  position: absolute;
  width: 427px;
  height: 194px;
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 10px;
  top: -15px;
  left: -15px;
  z-index: -1;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}

.transperency-section .card-container h4 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 10px;
}

.transperency-section .card-container p {
  color: #404040;
  font-size: 18px;
}

.transperency-section .card-container .card .box2 {
    background: linear-gradient(104.04deg, #0078FF 0%, #00ECC2 100%);
}

.transperency-section .card-container .card .box3 {
    background: linear-gradient(104.55deg, #00ECC2 0%, #FFD75F 104.82%);
}

.transperency-section .card-container .card .box4 {
    background: linear-gradient(113.6deg, #FF4359 0%, #0078FF 100%);
}
