@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

textarea {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

button {
  font-family: "Poppins", sans-serif;
}

textarea:focus {
  outline: none;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}